body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.table-container {
    height: 500px;
    width: 1000px;
    box-shadow: 1px 1px 5px rgb(182, 179, 179);
}

.pagination-wrapper {
    height: 47px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #babfc7;
}

.pagination-wrapper .pagination-utils {
    text-align: center;
    cursor: pointer;
    min-width: 35px;
}

.disabled {
    color: grey;
    cursor: text !important;
}

.pagination-wrapper .pagination-info {
    color: #181d1f;
}

.pagination-wrapper .pagination-info b {
    font-weight: 700;
    color: var(
        --ag-secondary-foreground-color,
        var(--ag-foreground-color, #181d1f)
    );
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100% - 49px);
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
}

.label {
    color: #0f0f0f;
}

.value {
    margin-right: 20px;
    border: 1px solid lightgrey;
    width: 50px;
    display: inline-block;
    text-align: right;
    padding-right: 2px;
    background: #eee;
}

.mr-3 {
    margin-right: 18px;
}

.pagination-input {
    margin-right: auto;
    margin-left: 20px;
    border: 1px solid rgb(189, 184, 184);
    padding: 5px;
}
